<div id="mainlogo" class="main">
  <h1>Birdie Lane</h1>
  <p class="placeholder">[placeholder]</p>
</div>
<nav class="main">
  <div class="leftAlign"></div>
  <div class="centerAlign">
    <div class="navpage">
      <h4>STYLES</h4>
    </div>
    <div class="navpage">
      <h4>GIRLS</h4>
    </div>
    <div class="navpage">
      <h4>BOYS</h4>
    </div>
    <div class="navpage">
      <h4>SUMMER</h4>
    </div>
    <div class="navpage">
      <h4>ABOUT</h4>
    </div>
    <div class="navpage">
      <h4>SHOP</h4>
    </div>
  </div>
  <div class="rightAlign search"></div>
</nav>